.accordion .answer {
    display: none;
}

.question {
    background-color: var(--surface);
    color: var(--text-color);
    padding: 2%;
}

.accordion.active .answer {
    display: block;
    background-color: var(--surface);
    color: var(--text-color);
    padding: 2%;
}

.question::before {
    content: '+ ';
}

.question:hover,
.accordion.active .question {
    background-color: var(--muted);
    cursor: pointer;
}

.accordion.active .question::before {
    content: '- ';
}
