input[type="text"],
input[type="email"] {
    border: 2px solid var(--border-color);
    background-color: var(--bg-body);
    color: var(--text-color);
    height: 25px;
    width: 250px;
    margin-bottom: 10px;
}

textarea {
    border: 2px solid var(--border-color);
    background-color: var(--bg-body);
    color: var(--text-color);
    height: 150px;
    width: 250px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin-top: 10px;
    background-color: var(--theme-pill-bg);
    color: var(--theme-pill-text);
    padding: 10px 15px;
    border: 0;
    cursor: pointer;
}
